Repository dynamic-framework/dynamic-ui, pull requests merged in 2023-10, with the labels that each got.

#464 fix: component details
  .gitmodules
  libraries/dynamic-ui-react/src/components/DInputCurrencyBase.tsx
  libraries/dynamic-ui-react/src/components/DInputSelect.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputSelect.stories.tsx
  libraries/dynamic-ui-react/src/stories/patterns/DOffcanvas.stories.tsx
  libraries/dynamic-ui-react/tests/components/DOffcanvas.spec.tsx
Labels: fix

#466 chore: add className to quick actions
  libraries/dynamic-ui-react/src/components/DQuickActionButton.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionCheck.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionSelect.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionSwitch.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputSelect.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DQuickActionButton.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DQuickActionCheck.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DQuickActionSelect.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DQuickActionSwitch.stories.tsx
Labels: fix

#468 fix: add className to DInputCurrencyBase and generic type to DInputSearch change event
  libraries/dynamic-ui-react/src/components/DInputCurrencyBase.tsx
  libraries/dynamic-ui-react/src/components/DInputSearch.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputCurrency.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputCurrencyBase.stories.tsx
Labels: fix

#470 chore: adjust label styles
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/base/_root.scss
  libraries/dynamic-ui-react/src/style/components/_d-input.scss
Labels: chore

#471 feat: refactor input and related input components
  libraries/dynamic-ui-react/.storybook/main.js
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/src/components/DDatePicker.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerHeader.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerInput.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerTime.tsx
  libraries/dynamic-ui-react/src/components/DFormikInput.tsx
  libraries/dynamic-ui-react/src/components/DFormikInputCurrency.tsx
  libraries/dynamic-ui-react/src/components/DFormikInputSelect.tsx
  libraries/dynamic-ui-react/src/components/DInput.tsx
  libraries/dynamic-ui-react/src/components/DInputCounter.tsx
  libraries/dynamic-ui-react/src/components/DInputCurrency.tsx
  libraries/dynamic-ui-react/src/components/DInputCurrencyBase.tsx
  libraries/dynamic-ui-react/src/components/DInputPassword.tsx
  libraries/dynamic-ui-react/src/components/DInputSearch.tsx
  libraries/dynamic-ui-react/src/components/DMonthPicker.tsx
  libraries/dynamic-ui-react/src/components/index.ts
  libraries/dynamic-ui-react/src/contexts/DContext.tsx
  libraries/dynamic-ui-react/src/contexts/LiquidContext.tsx
  libraries/dynamic-ui-react/src/contexts/index.ts
  libraries/dynamic-ui-react/src/hooks/index.ts
  libraries/dynamic-ui-react/src/hooks/useFormatCurrency.ts
  libraries/dynamic-ui-react/src/hooks/useInputCurrency.ts
  libraries/dynamic-ui-react/src/hooks/useProvidedRefOrCreate.ts
  libraries/dynamic-ui-react/src/hooks/useScreenshot.ts
  libraries/dynamic-ui-react/src/hooks/useScreenshotDownload.ts
  libraries/dynamic-ui-react/src/hooks/useScreenshotWebShare.ts
  libraries/dynamic-ui-react/src/stories/components/DCurrencyText.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DFormikInput.mdx
  libraries/dynamic-ui-react/src/stories/components/DFormikInput.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DFormikInputCurrency.mdx
  libraries/dynamic-ui-react/src/stories/components/DFormikInputCurrency.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DFormikInputSelect.mdx
  libraries/dynamic-ui-react/src/stories/components/DFormikInputSelect.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DInput.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputCounter.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputCurrency.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputCurrencyBase.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputPassword.stories.tsx
  libraries/dynamic-ui-react/src/stories/components/DInputSearch.stories.tsx
  libraries/dynamic-ui-react/src/stories/config/liquid.json
  libraries/dynamic-ui-react/src/stories/config/liquidConfig.ts
  libraries/dynamic-ui-react/src/stories/hooks/useFormatCurrency.stories.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_toasts.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/types.d.ts
  libraries/dynamic-ui-react/src/types/index.ts
  libraries/dynamic-ui-react/src/types/polymorphic.ts
  libraries/dynamic-ui-react/src/utils/configureI18n.ts
  libraries/dynamic-ui-react/src/utils/index.ts
  libraries/dynamic-ui-react/src/utils/liquid-parser.ts
  libraries/dynamic-ui-react/tests/components/DInput.spec.tsx
  libraries/dynamic-ui-react/tests/components/DInputCounter.spec.tsx
  libraries/dynamic-ui-react/tests/components/DInputCurrency.spec.tsx
  libraries/dynamic-ui-react/tests/components/DInputSearch.spec.tsx
  pnpm-lock.yaml
Labels: feature

#472 chore: remove luxon to use date-fns and add locale props in replace of liquid context
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/rollup.config.mjs
  libraries/dynamic-ui-react/src/components/DDatePicker.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerHeader.tsx
  libraries/dynamic-ui-react/src/components/DMonthPicker.tsx
  libraries/dynamic-ui-react/src/stories/components/DDatePicker.stories.tsx
  libraries/dynamic-ui-react/src/style/components/_d-monthpicker.scss
  libraries/dynamic-ui-react/tests/components/DDatePicker.spec.tsx
  package.json
  pnpm-lock.yaml
Labels: chore

#475 feat: rename common props suffix and add BaseProps
  libraries/dynamic-ui-react/src/components/DAlert/DAlert.tsx
  libraries/dynamic-ui-react/src/components/DBadge/DBadge.tsx
  libraries/dynamic-ui-react/src/components/DBoxFile/DBoxFile.tsx
  libraries/dynamic-ui-react/src/components/DButton/DButton.tsx
  libraries/dynamic-ui-react/src/components/DCard/DCard.tsx
  libraries/dynamic-ui-react/src/components/DCard/components/DCardBody.tsx
  libraries/dynamic-ui-react/src/components/DCard/components/DCardFooter.tsx
  libraries/dynamic-ui-react/src/components/DCard/components/DCardHeader.tsx
  libraries/dynamic-ui-react/src/components/DCardAccount/DCardAccount.tsx
  libraries/dynamic-ui-react/src/components/DCarousel/DCarousel.tsx
  libraries/dynamic-ui-react/src/components/DChip/DChip.tsx
  libraries/dynamic-ui-react/src/components/DCollapse/DCollapse.tsx
  libraries/dynamic-ui-react/src/components/DCollapseIconText/DCollapseIconText.tsx
  libraries/dynamic-ui-react/src/components/DCurrencyText/DCurrencyText.tsx
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.spec.tsx
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerHeader/DDatePickerHeader.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerInput/DDatePickerInput.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerTime/DDatePickerTime.tsx
  libraries/dynamic-ui-react/src/components/DIcon/DIcon.tsx
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
  libraries/dynamic-ui-react/src/components/DInputCheck/DInputCheck.tsx
  libraries/dynamic-ui-react/src/components/DInputCounter/DInputCounter.spec.tsx
  libraries/dynamic-ui-react/src/components/DInputPassword/DInputPassword.spec.tsx
  libraries/dynamic-ui-react/src/components/DInputPin/DInputPin.tsx
  libraries/dynamic-ui-react/src/components/DInputSearch/DInputSearch.spec.tsx
  libraries/dynamic-ui-react/src/components/DInputSelect/DInputSelect.tsx
  libraries/dynamic-ui-react/src/components/DInputSwitch/DInputSwitch.tsx
  libraries/dynamic-ui-react/src/components/DList/DList.tsx
  libraries/dynamic-ui-react/src/components/DList/components/DListItem.tsx
  libraries/dynamic-ui-react/src/components/DListItemMovement/DListItemMovement.tsx
  libraries/dynamic-ui-react/src/components/DModal/DModal.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalBody.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalFooter.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalHeader.tsx
  libraries/dynamic-ui-react/src/components/DMonthPicker/DMonthPicker.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/DOffcanvas.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasBody.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasFooter.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasHeader.tsx
  libraries/dynamic-ui-react/src/components/DPopover/DPopover.tsx
  libraries/dynamic-ui-react/src/components/DProgress/DProgress.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionButton/DQuickActionButton.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionCheck/DQuickActionCheck.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionSelect/DQuickActionSelect.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionSwitch/DQuickActionSwitch.tsx
  libraries/dynamic-ui-react/src/components/DStepper/DStepper.tsx
  libraries/dynamic-ui-react/src/components/DStepperDesktop/DStepperDesktop.tsx
  libraries/dynamic-ui-react/src/components/DStepperMobile/DStepperMobile.tsx
  libraries/dynamic-ui-react/src/components/DTabs/DTabs.tsx
  libraries/dynamic-ui-react/src/components/DTabs/components/DTabContent.tsx
  libraries/dynamic-ui-react/src/components/DToastContainer/DToastContainer.tsx
  libraries/dynamic-ui-react/src/components/DTooltip/DTooltip.tsx
  libraries/dynamic-ui-react/src/components/interface.ts
Labels: feature

#479 fix: d-input change event value
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
Labels: fix
