Repository dynamic-framework/dynamic-ui, pull requests merged in 2023-12, with the labels that each got.

#491 feat: floating input
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
  libraries/dynamic-ui-react/src/components/DInputSelect/DInputSelect.tsx
  libraries/dynamic-ui-react/src/style/components/_d-input-select.scss
  libraries/dynamic-ui-react/stories/components/DInput.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCounter.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrency.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrencyBase.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputPassword.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSearch.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSelect.stories.tsx
Labels: chore

#499 fix: DProgress value and className
  libraries/dynamic-ui-react/src/components/DProgress/DProgress.tsx
Labels: fix

#504 feat: enable light and dark default bootstrap theme to DButton and btn-link css class
  libraries/dynamic-ui-react/src/style/components/_d-button.scss
  libraries/dynamic-ui-react/stories/components/DButton.stories.tsx
Labels: feature

#501 feat: generate text-theme-code and bg-theme-code classes, form to DButton, DBoxFile css variables and DInput className
  libraries/dynamic-ui-react/src/components/DButton/DButton.tsx
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
  libraries/dynamic-ui-react/src/style/abstracts/_utilities.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_box-file.scss
  libraries/dynamic-ui-react/src/style/components/_d-box-file.scss
  libraries/dynamic-ui-react/stories/components/DBoxFile.mdx
Labels: chore

#502 feat: unify alerts and separate documentation for toast
  libraries/dynamic-ui-react/CHANGELOG.md
  libraries/dynamic-ui-react/src/components/DAlert/DAlert.spec.tsx
  libraries/dynamic-ui-react/src/components/DAlert/DAlert.tsx
  libraries/dynamic-ui-react/src/components/DAlert/index.ts
  libraries/dynamic-ui-react/src/components/DAlertBox/DAlertBox.tsx
  libraries/dynamic-ui-react/src/components/DAlertBox/index.ts
  libraries/dynamic-ui-react/src/components/DToast/DToast.spec.tsx
  libraries/dynamic-ui-react/src/components/DToast/index.ts
  libraries/dynamic-ui-react/src/components/DToastContainer/useToast.tsx
  libraries/dynamic-ui-react/src/components/config.ts
  libraries/dynamic-ui-react/src/components/index.ts
  libraries/dynamic-ui-react/src/components/interface.ts
  libraries/dynamic-ui-react/src/style/abstracts/_maps.scss
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-alert.scss
  libraries/dynamic-ui-react/stories/components/DAlert.mdx
  libraries/dynamic-ui-react/stories/components/DAlert.stories.tsx
  libraries/dynamic-ui-react/stories/components/DAlertBox.mdx
  libraries/dynamic-ui-react/stories/components/DAlertBox.stories.tsx
  libraries/dynamic-ui-react/stories/hooks/useToast.mdx
  libraries/dynamic-ui-react/stories/hooks/useToast.stories.tsx
Labels: feature

#503 feat: add DInputMask component
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/src/components/DInputMask/DInputMask.spec.tsx
  libraries/dynamic-ui-react/src/components/DInputMask/DInputMask.tsx
  libraries/dynamic-ui-react/src/components/DInputMask/index.ts
  libraries/dynamic-ui-react/src/components/index.ts
  libraries/dynamic-ui-react/stories/components/DInputMask.mdx
  libraries/dynamic-ui-react/stories/components/DInputMask.stories.tsx
  pnpm-lock.yaml
Labels: feature

#505 feat: adjust behaviors of DModalContextProvider an DOffcanvasContextProvider
  libraries/dynamic-ui-react/src/components/DModal/DModal.spec.tsx
  libraries/dynamic-ui-react/src/components/DModal/DModal.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalHeader.tsx
  libraries/dynamic-ui-react/src/contexts/DModalContext.tsx
  libraries/dynamic-ui-react/src/contexts/DOffcanvasContext.tsx
  libraries/dynamic-ui-react/src/contexts/ModalContext.tsx
  libraries/dynamic-ui-react/src/contexts/OffcanvasContext.tsx
  libraries/dynamic-ui-react/src/contexts/index.ts
  libraries/dynamic-ui-react/src/hooks/index.ts
  libraries/dynamic-ui-react/src/hooks/useDisableBodyScrollEffect.ts
  libraries/dynamic-ui-react/src/hooks/usePortal.ts
  libraries/dynamic-ui-react/src/style/abstracts/variables/_modals.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_offcanvas.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/style/components/_d-modal.scss
  libraries/dynamic-ui-react/src/style/components/_d-offcanvas.scss
  libraries/dynamic-ui-react/stories/components/DModal.mdx
  libraries/dynamic-ui-react/stories/components/DModal.stories.tsx
  libraries/dynamic-ui-react/stories/components/DOffcanvas.mdx
  libraries/dynamic-ui-react/stories/components/DOffcanvas.stories.tsx
  libraries/dynamic-ui-react/stories/hooks/useModalContext.stories.tsx
  libraries/dynamic-ui-react/stories/hooks/useOffcanvasContext.stories.tsx
Labels: feature

#506 feat: DTooltip themes
  libraries/dynamic-ui-react/src/components/DInputSelect/DInputSelect.tsx
  libraries/dynamic-ui-react/src/components/DTooltip/DTooltip.tsx
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-tooltip.scss
  libraries/dynamic-ui-react/stories/components/DTooltip.mdx
  libraries/dynamic-ui-react/stories/components/DTooltip.stories.tsx
Labels: feature
