Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-02, with the labels that each got.

#554 chore: add state icon
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
  libraries/dynamic-ui-react/src/components/DInputCounter/DInputCounter.tsx
  libraries/dynamic-ui-react/src/components/DInputPassword/DInputPassword.tsx
  libraries/dynamic-ui-react/src/components/DInputPin/DInputPin.tsx
  libraries/dynamic-ui-react/src/components/DInputSearch/DInputSearch.tsx
  libraries/dynamic-ui-react/src/components/interface.ts
  libraries/dynamic-ui-react/stories/components/DInput.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrency.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrencyBase.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputMask.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputPin.stories.tsx
  pnpm-lock.yaml
Labels: chore

#557 chore: add underline to button and width
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/components/_d-button.scss
Labels: style

#559 fix: adjust design details of root variables and buttons
  libraries/dynamic-ui-react/src/style/abstracts/variables/_body.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
  libraries/dynamic-ui-react/stories/Colors.mdx
Labels: fix

#561 chore: add version of package in css outout
  .github/workflows/release.yml
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/scripts/build-scss.sh
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  package.json
Labels: chore

#563 fix: DContext partial props on hook usage
  libraries/dynamic-ui-react/src/contexts/DContext.tsx
Labels: fix

#562 fix: adjust breadcrumb css style
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-breadcrumb.scss
Labels: fix

#564 feat: adjust css style of accordion
  libraries/dynamic-ui-react/src/style/abstracts/variables/_accordion.scss
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_accordion.scss
Labels: feature

#565 feat: adjust style of DBadge component and css
  libraries/dynamic-ui-react/src/components/DBadge/DBadge.spec.tsx
  libraries/dynamic-ui-react/src/components/DBadge/DBadge.tsx
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-badge.scss
  libraries/dynamic-ui-react/src/style/helpers/_color-bg.scss
  libraries/dynamic-ui-react/stories/components/DBadge.stories.tsx
Labels: feature

#569 fix: adjust light and dark colors of soft badge and link button
  libraries/dynamic-ui-react/src/style/base/_button.scss
  libraries/dynamic-ui-react/src/style/helpers/_color-bg.scss
Labels: fix

#568 style: modal
  libraries/dynamic-ui-react/src/components/DModal/DModal.spec.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalBody.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_close.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_modals.scss
  libraries/dynamic-ui-react/src/style/components/_d-modal.scss
Labels: style

#570 style: modal
  libraries/dynamic-ui-react/src/style/abstracts/variables/_modals.scss
Labels: style
