Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-10, with the labels that each got.

#743 feat(style): add support to default placeholder color css variable
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_placeholder.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
Labels: feature

#742 chore: adjust build and cdn publish
  .github/workflows/cdn.yml
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/scripts/cp-boostrap-icons.sh
  pnpm-lock.yaml
Labels: chore

#734 chore: base to upgrade to storybook 8
  libraries/dynamic-ui-react/.storybook/main.js
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/src/components/index.ts
  libraries/dynamic-ui-react/src/contexts/index.ts
  libraries/dynamic-ui-react/stories/components/DButton.stories.tsx
  libraries/dynamic-ui-react/stories/components/DButtonIcon.stories.tsx
  libraries/dynamic-ui-react/stories/components/DChip.stories.tsx
  libraries/dynamic-ui-react/stories/components/DCollapse.stories.tsx
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
  libraries/dynamic-ui-react/stories/components/DIcon.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInput.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCounter.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrency.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrencyBase.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputMask.mdx
  libraries/dynamic-ui-react/stories/components/DInputMask.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputPassword.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputPin.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSearch.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSelect.stories.tsx
  libraries/dynamic-ui-react/stories/components/DModal.mdx
  libraries/dynamic-ui-react/stories/components/DOffcanvas.mdx
  libraries/dynamic-ui-react/stories/components/DProgress.stories.tsx
  libraries/dynamic-ui-react/stories/components/DQuickActionButton.stories.tsx
  libraries/dynamic-ui-react/stories/components/DSelect.stories.tsx
  libraries/dynamic-ui-react/stories/components/DSkeleton.mdx
  libraries/dynamic-ui-react/stories/components/DTabs.stories.tsx
  libraries/dynamic-ui-react/stories/examples/Graphs.mdx
  libraries/dynamic-ui-react/stories/examples/Tables.mdx
  libraries/dynamic-ui-react/stories/hooks/useFormatCurrency.mdx
  libraries/dynamic-ui-react/stories/hooks/useModal.mdx
  libraries/dynamic-ui-react/stories/hooks/useOffcanvas.mdx
  libraries/dynamic-ui-react/stories/hooks/useToast.mdx
  pnpm-lock.yaml
Labels: chore

#745 feat(DAvatar): re-style and new API
  libraries/dynamic-ui-react/src/components/DAvatar/DAvatar.spec.tsx
  libraries/dynamic-ui-react/src/components/DAvatar/DAvatar.tsx
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_avatar.scss
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-avatar.scss
  libraries/dynamic-ui-react/stories/components/DAvatar.stories.tsx
Labels: feature

#740 fix(DList): set states with primary theme
  libraries/dynamic-ui-react/src/style/abstracts/variables/_list-group.scss
  libraries/dynamic-ui-react/stories/components/DList.stories.tsx
Labels: fix

#738 fix(DPaginator): set disabled color on show arrows
  libraries/dynamic-ui-react/src/components/DPaginator/DPaginator.tsx
  libraries/dynamic-ui-react/src/style/base/_pagination.scss
  libraries/dynamic-ui-react/stories/components/DPaginator.stories.tsx
Labels: fix

#749 fix(DDatePicker): expose placeholder prop
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.tsx
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
Labels: fix

#751 fix(style): adjust alert light and dark colors
  libraries/dynamic-ui-react/src/style/base/_alert.scss
Labels: fix

#755 fix(DTabs): remove required onChange prop
  libraries/dynamic-ui-react/src/components/DTabs/DTabs.tsx
Labels: fix
