Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-01, with the labels that each got.

#511 feat: add support to set DContext on hook
  libraries/dynamic-ui-react/src/contexts/DContext.tsx
Labels: feature

#514 fix: DInput feedback colors
  libraries/dynamic-ui-react/src/components/DInputCurrency/DInputCurrency.tsx
  libraries/dynamic-ui-react/src/components/DInputCurrencyBase/DInputCurrencyBase.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/components/_d-input.scss
  libraries/dynamic-ui-react/stories/components/DInputCurrency.stories.tsx
Labels: fix

#515 chore: remove all ListItemMovement definitions
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/src/components/DListItemMovement/DListItemMovement.tsx
  libraries/dynamic-ui-react/src/components/DListItemMovement/index.ts
  libraries/dynamic-ui-react/src/components/index.ts
  libraries/dynamic-ui-react/stories/components/DListItemMovement.mdx
  libraries/dynamic-ui-react/stories/components/DListItemMovement.stories.tsx
Labels: chore

#516 style: set hover color
  libraries/dynamic-ui-react/src/style/abstracts/variables/_navs.scss
  libraries/dynamic-ui-react/src/style/components/_d-tabs.scss
Labels: chore

#517 chore: adjust qa-check label color to gray-900
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-check.scss
Labels: chore

#518 chore: add DCurrencyText to utils section and adjust examples
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/src/components/DCurrencyText/DCurrencyText.tsx
  libraries/dynamic-ui-react/stories/components/DCurrencyText.mdx
  libraries/dynamic-ui-react/stories/components/DCurrencyText.stories.tsx
  libraries/dynamic-ui-react/stories/hooks/useFormatCurrency.stories.tsx
Labels: chore

#519 chore: remove and adjust liquid mentions
  libraries/dynamic-ui-react/stories/components/DCurrencyText.mdx
  libraries/dynamic-ui-react/stories/components/DInputCurrency.mdx
  libraries/dynamic-ui-react/stories/hooks/useFormatCurrency.mdx
Labels: chore

#521 chore: adjust datepicker styles and stories
  libraries/dynamic-ui-react/src/components/DDatePickerHeader/DDatePickerHeader.tsx
  libraries/dynamic-ui-react/src/components/DMonthPicker/DMonthPicker.tsx
  libraries/dynamic-ui-react/src/style/components/_d-datepicker.scss
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
Labels: chore

#520 feat: disabled counter states
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
  libraries/dynamic-ui-react/src/components/DInputCounter/DInputCounter.spec.tsx
  libraries/dynamic-ui-react/src/components/DInputCounter/DInputCounter.tsx
  libraries/dynamic-ui-react/src/components/interface.ts
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/components/_d-input.scss
Labels: chore

#523 feat: add support to use icons with material config style and store the icon config on DContextProvider
  libraries/dynamic-ui-react/.storybook/preview-head.html
  libraries/dynamic-ui-react/.stylelintrc.json
  libraries/dynamic-ui-react/src/components/DIcon/DIcon.tsx
  libraries/dynamic-ui-react/src/components/DIconBase/DIconBase.spec.tsx
  libraries/dynamic-ui-react/src/components/DIconBase/DIconBase.tsx
  libraries/dynamic-ui-react/src/components/DIconBase/index.ts
  libraries/dynamic-ui-react/src/components/index.ts
  libraries/dynamic-ui-react/src/contexts/DContext.tsx
  libraries/dynamic-ui-react/src/style/components/_d-icon.scss
  libraries/dynamic-ui-react/stories/components/DIcon.mdx
  libraries/dynamic-ui-react/stories/components/DIcon.stories.tsx
Labels: feature

#525 chore: support close icon
  libraries/dynamic-ui-react/src/components/DModal/components/DModalHeader.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasHeader.tsx
  libraries/dynamic-ui-react/stories/components/DModal.stories.tsx
  libraries/dynamic-ui-react/stories/components/DOffcanvas.stories.tsx
Labels: chore

#527 chore: support icon
  libraries/dynamic-ui-react/src/components/DAlert/DAlert.tsx
  libraries/dynamic-ui-react/stories/components/DAlert.stories.tsx
Labels: chore

#531 chore: export bootstrap js
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/scripts/cp-boostrap.sh
Labels: chore
