Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-06, with the labels that each got.

#667 fix(DTabs): remove classname modifier from buttons in nav
  libraries/dynamic-ui-react/src/components/DTabs/DTabs.tsx
Labels: fix

#668 fix(DInputSelect): set invalid and valid states on form
  libraries/dynamic-ui-react/src/components/DInputSelect/DInputSelect.tsx
  libraries/dynamic-ui-react/src/style/base/_input-group.scss
  libraries/dynamic-ui-react/stories/components/DInputSelect.stories.tsx
Labels: fix

#673 fix(style): select menu z-index
  libraries/dynamic-ui-react/src/style/components/_d-select.scss
Labels: fix

#675 docs: set abstraction and wrapper badges on components
  libraries/dynamic-ui-react/stories/components/DBoxFile.stories.tsx
  libraries/dynamic-ui-react/stories/components/DCarousel.stories.tsx
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputMask.mdx
  libraries/dynamic-ui-react/stories/components/DPaginator.stories.tsx
  libraries/dynamic-ui-react/stories/components/DPopover.stories.tsx
  libraries/dynamic-ui-react/stories/components/DSelect.stories.tsx
  libraries/dynamic-ui-react/stories/components/DSkeleton.stories.tsx
  libraries/dynamic-ui-react/stories/components/DTooltip.stories.tsx
Labels: chore

#678 feat(DToast): create component, test and stories
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/src/components/DToast/DToast.spec.tsx
  libraries/dynamic-ui-react/src/components/DToast/DToast.tsx
  libraries/dynamic-ui-react/src/components/DToast/components/DToastBody.tsx
  libraries/dynamic-ui-react/src/components/DToast/components/DToastHeader.tsx
  libraries/dynamic-ui-react/src/components/DToast/index.ts
  libraries/dynamic-ui-react/src/components/index.ts
  libraries/dynamic-ui-react/stories/components/DToast.stories.tsx
Labels: feature

#684 feat: support multiple format style to currency format
  libraries/dynamic-ui-react/src/contexts/DContext.tsx
  libraries/dynamic-ui-react/src/hooks/useFormatCurrency.ts
Labels: feature

#680 style(DAlert): remove start line
  libraries/dynamic-ui-react/src/style/base/_alert.scss
Labels: fix

#532 feat(DIconButton): create component, test and stories
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/src/components/DButtonIcon/DButtonIcon.spec.tsx
  libraries/dynamic-ui-react/src/components/DButtonIcon/DButtonIcon.tsx
  libraries/dynamic-ui-react/src/components/DButtonIcon/index.ts
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-button-icon.scss
  libraries/dynamic-ui-react/stories/components/DButtonIcon.stories.tsx
Labels: feature

#672 feat(style): adjust button colors and focus style
  libraries/dynamic-ui-react/scripts/build-scss.js
  libraries/dynamic-ui-react/src/style/abstracts/_mixins.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/base/_buttons.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
Labels: feature
