Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-03, with the labels that each got.

#573 Input-group , dropdowns and form-check
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_box-shadow.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_cards.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_dropdowns.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_navs.scss
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_dropdown.scss
  pnpm-lock.yaml
Labels: bug, fix

#575 fix: build scss script
  libraries/dynamic-ui-react/.eslintrc
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/scripts/build-scss.js
  libraries/dynamic-ui-react/scripts/build-scss.sh
  libraries/dynamic-ui-react/src/style/base/_accordion.scss
  pnpm-lock.yaml
Labels: fix

#574 chore: pill tabs support
  libraries/dynamic-ui-react/src/components/DTabs/DTabs.tsx
  libraries/dynamic-ui-react/src/style/components/_d-tabs.scss
  libraries/dynamic-ui-react/stories/components/DTabs.stories.tsx
Labels: style

#576 chore: remove slots
  libraries/dynamic-ui-react/src/components/DModal/DModal.spec.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalBody.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalFooter.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalHeader.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/DOffcanvas.spec.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasBody.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasFooter.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasHeader.tsx
Labels: chore

#578 chore: adjust license
  LICENSE.md
  libraries/dynamic-ui-react/LICENSE.md
  libraries/dynamic-ui-react/package.json
  package.json
Labels: chore

#579 fix: error with modal transition
  libraries/dynamic-ui-react/src/style/abstracts/variables/_modals.scss
Labels: bug, fix

#581 chore: set open to false in tooltip storybook stories
  libraries/dynamic-ui-react/stories/components/DTooltip.stories.tsx
Labels: chore

#587 fix: margin form check
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
Labels: fix

#585 fix: tooltip background
  libraries/dynamic-ui-react/src/style/abstracts/variables/_body.scss
Labels: fix

#588 chore: update font family and icons version
  libraries/dynamic-ui-react/.storybook/manager-head.html
  libraries/dynamic-ui-react/.storybook/preview-head.html
  libraries/dynamic-ui-react/.storybook/theme.ts
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/stories/Typography.mdx
Labels: chore

#589 fix: card inner border radius calc
  libraries/dynamic-ui-react/src/style/abstracts/variables/_cards.scss
Labels: fix

#580 fix: padding correction for list-groups and bg white on offcanvas
  libraries/dynamic-ui-react/src/style/abstracts/variables/_list-group.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_offcanvas.scss
Labels: bug, fix

#591 fix: input-groups borders and focus
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_input-group.scss
Labels: fix

#592 fix: focus pagination
  libraries/dynamic-ui-react/src/style/abstracts/variables/_pagination.scss
  libraries/dynamic-ui-react/src/style/base/_pagination.scss
Labels: fix

#584 feat: jump 4 by 4 in spacers
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_spacers.scss
Labels: feature

#593 chore: drop unused scss vars
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_accordion.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_alerts.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_badges.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_body.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_border.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_breadcrumb.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_cards.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_carousel.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_close.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_code.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_dropdowns.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_figures.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_grid.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_list-group.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_modals.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_navbar.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_navs.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_offcanvas.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_pagination.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_popovers.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_progress.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_spinners.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_tables.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_thumbnails.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_toasts.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_tooltips.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_z-index.scss
Labels: chore

#594 fix: pagination size and padding
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/src/components/DPaginator/DPaginator.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_pagination.scss
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_body.scss
  libraries/dynamic-ui-react/src/style/base/_pagination.scss
  pnpm-lock.yaml
Labels: fix

#597 feat: overlay utility
  libraries/dynamic-ui-react/src/style/abstracts/_utilities.scss
  libraries/dynamic-ui-react/src/style/helpers/_+import.scss
  libraries/dynamic-ui-react/src/style/helpers/_overlay.scss
Labels: feature

#596 feat: spacing
  libraries/dynamic-ui-react/src/components/DMonthPicker/DMonthPicker.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_accordion.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_alerts.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_badges.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_border.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_box-file.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_chips.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_collapse-icon-text.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_dropdowns.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_list-group.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_modals.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_navs.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_offcanvas.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_pagination.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-button.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-check.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-select.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-switch.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/style/base/_collapse.scss
  libraries/dynamic-ui-react/src/style/base/_tables.scss
  libraries/dynamic-ui-react/src/style/components/_d-card-account.scss
  libraries/dynamic-ui-react/src/style/components/_d-carousel.scss
  libraries/dynamic-ui-react/src/style/components/_d-datepicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-icon.scss
  libraries/dynamic-ui-react/src/style/components/_d-modal.scss
  libraries/dynamic-ui-react/src/style/components/_d-monthpicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-offcanvas.scss
  libraries/dynamic-ui-react/src/style/components/_d-select.scss
  libraries/dynamic-ui-react/src/style/components/_d-stepper-desktop.scss
  libraries/dynamic-ui-react/src/style/components/_d-stepper-mobile.scss
  libraries/dynamic-ui-react/stories/components/DStepperDesktop.stories.tsx
Labels: feature

#595 chore: tabs
  libraries/dynamic-ui-react/src/components/DTabs/DTabs.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_navs.scss
  libraries/dynamic-ui-react/src/style/components/_d-tabs.scss
  libraries/dynamic-ui-react/stories/components/DTabs.stories.tsx
  pnpm-lock.yaml
Labels: chore

#599 fix: remove reset paragraph margin
  libraries/dynamic-ui-react/src/style/abstracts/variables/_body.scss
Labels: fix

#601 fix: spacers doc and DStepperMobile margin
  libraries/dynamic-ui-react/src/style/components/_d-stepper-mobile.scss
  libraries/dynamic-ui-react/stories/Spacing.mdx
Labels: fix

#602 chore: enhancements
  libraries/dynamic-ui-react/src/style/abstracts/_mixins.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_badges.scss
Labels: chore

#603 chore: rollback border radius to value
  libraries/dynamic-ui-react/src/style/abstracts/variables/_border.scss
Labels: fix

#604 style: set link decoration only on hover
  libraries/dynamic-ui-react/src/style/abstracts/variables/_body.scss
  libraries/dynamic-ui-react/stories/Layout.mdx
  libraries/dynamic-ui-react/stories/Typography.mdx
Labels: chore

#606 feat: take btn border radius from :root
  libraries/dynamic-ui-react/src/components/DButton/DButton.spec.tsx
  libraries/dynamic-ui-react/src/components/DButton/DButton.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/base/_button.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
  libraries/dynamic-ui-react/stories/components/DButton.stories.tsx
Labels: feature

#610 feature: add breakpoints to fw
  libraries/dynamic-ui-react/src/style/abstracts/_utilities.scss
Labels: feature

#609 fix: padding card body
  libraries/dynamic-ui-react/src/style/abstracts/variables/_cards.scss
Labels: fix

#611 feature: text-truncate multiple lines
  libraries/dynamic-ui-react/src/style/abstracts/_utilities.scss
  libraries/dynamic-ui-react/src/style/helpers/_+import.scss
  libraries/dynamic-ui-react/src/style/helpers/_text-truncate.scss
Labels: feature

#613 feat: use css var to define font-size, font-weight and responsive support in hN, .fs-N, .hN, display-N, fw-V, small and .small
  libraries/dynamic-ui-react/src/style/abstracts/_utilities.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_options.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_progress.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-button.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-check.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-select.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-switch.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_buttons.scss
  libraries/dynamic-ui-react/src/style/base/_type.scss
  libraries/dynamic-ui-react/src/style/components/_d-datepicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-monthpicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-stepper-mobile.scss
  libraries/dynamic-ui-react/src/style/components/_d-tooltip.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
  libraries/dynamic-ui-react/stories/Typography.mdx
Labels: feature

#614 chore: create ref to carousel
  libraries/dynamic-ui-react/src/components/DCarousel/DCarousel.tsx
Labels: chore

#615 feat: avatar
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/src/components/DAvatar/DAvatar.spec.tsx
  libraries/dynamic-ui-react/src/components/DAvatar/DAvatar.tsx
  libraries/dynamic-ui-react/src/components/DAvatar/index.ts
  libraries/dynamic-ui-react/src/components/interface.ts
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_avatar.scss
  libraries/dynamic-ui-react/stories/components/DAvatar.stories.tsx
  libraries/dynamic-ui-react/stories/components/DContext.stories.tsx
  libraries/dynamic-ui-react/stories/config/constants.ts
Labels: feature

#616 feat: add support to use btn variables with variant and theme from root
  libraries/dynamic-ui-react/src/style/abstracts/_mixins.scss
  libraries/dynamic-ui-react/src/style/base/_buttons.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
  libraries/dynamic-ui-react/stories/components/DButton.stories.tsx
Labels: feature

#618 fix: last change details
  libraries/dynamic-ui-react/src/style/abstracts/variables/_accordion.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_alerts.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_collapse-icon-text.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_navs.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_progress.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-button.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-check.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-select.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-switch.scss
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_button-group.scss
  libraries/dynamic-ui-react/src/style/base/_form-check.scss
  libraries/dynamic-ui-react/src/style/base/_input-group.scss
  libraries/dynamic-ui-react/src/style/components/_d-datepicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-monthpicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-select.scss
  libraries/dynamic-ui-react/src/style/components/_d-stepper-mobile.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
Labels: fix

#583 feat: portal context
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/src/components/DModal/DModal.spec.tsx
  libraries/dynamic-ui-react/src/components/DModal/DModal.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/DOffcanvas.spec.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/DOffcanvas.tsx
  libraries/dynamic-ui-react/src/contexts/DContext.tsx
  libraries/dynamic-ui-react/src/contexts/DModalContext.tsx
  libraries/dynamic-ui-react/src/contexts/DOffcanvasContext.tsx
  libraries/dynamic-ui-react/src/contexts/DPortalContext.tsx
  libraries/dynamic-ui-react/src/contexts/index.ts
  libraries/dynamic-ui-react/src/hooks/useStackState.ts
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_z-index.scss
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_backdrop.scss
  libraries/dynamic-ui-react/stories/components/DContext.stories.tsx
  libraries/dynamic-ui-react/stories/components/DModal.stories.tsx
  libraries/dynamic-ui-react/stories/components/DOffcanvas.stories.tsx
  libraries/dynamic-ui-react/stories/hooks/useModal.mdx
  libraries/dynamic-ui-react/stories/hooks/useModalExamples.tsx
  libraries/dynamic-ui-react/stories/hooks/useOffcanvas.mdx
  libraries/dynamic-ui-react/stories/hooks/useOffcanvasExamples.tsx
Labels: feature
