Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-08, with the labels that each got.

#705 feat(DSkeleton): deprecate component
  libraries/dynamic-ui-react/stories/components/DSkeleton.mdx
  libraries/dynamic-ui-react/stories/components/DSkeleton.stories.tsx
Labels: chore

#706 feat(style): add extra spacers up to 120px
  libraries/dynamic-ui-react/.eslintrc
  libraries/dynamic-ui-react/src/style/abstracts/variables/_spacers.scss
Labels: feature

#708 feat(style): change border-color to gray-100
  libraries/dynamic-ui-react/src/style/abstracts/variables/_border.scss
Labels: feature

#709 fix(DToast): set soft style as bootstrap way
  libraries/dynamic-ui-react/src/components/DToastContainer/useDToast.tsx
  libraries/dynamic-ui-react/src/style/base/_toast.scss
Labels: fix

#712 fix(DBadge): set display as inline-flex
  libraries/dynamic-ui-react/src/style/base/_badge.scss
Labels: fix

#713 feat(style): move .accordion variables values to :root variables
  libraries/dynamic-ui-react/src/style/abstracts/variables/_accordion.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_buttons.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
Labels: feature

#711 feat: add data attributes prop to components
  libraries/dynamic-ui-react/src/components/DAlert/DAlert.tsx
  libraries/dynamic-ui-react/src/components/DAvatar/DAvatar.tsx
  libraries/dynamic-ui-react/src/components/DBadge/DBadge.tsx
  libraries/dynamic-ui-react/src/components/DBoxFile/DBoxFile.tsx
  libraries/dynamic-ui-react/src/components/DButton/DButton.tsx
  libraries/dynamic-ui-react/src/components/DButtonIcon/DButtonIcon.tsx
  libraries/dynamic-ui-react/src/components/DCard/DCard.tsx
  libraries/dynamic-ui-react/src/components/DCarousel/DCarousel.tsx
  libraries/dynamic-ui-react/src/components/DChip/DChip.tsx
  libraries/dynamic-ui-react/src/components/DCollapse/DCollapse.tsx
  libraries/dynamic-ui-react/src/components/DCurrencyText/DCurrencyText.tsx
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.tsx
  libraries/dynamic-ui-react/src/components/DIconBase/DIconBase.tsx
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
  libraries/dynamic-ui-react/src/components/DInputCheck/DInputCheck.tsx
  libraries/dynamic-ui-react/src/components/DInputPin/DInputPin.tsx
  libraries/dynamic-ui-react/src/components/DInputSelect/DInputSelect.tsx
  libraries/dynamic-ui-react/src/components/DInputSwitch/DInputSwitch.tsx
  libraries/dynamic-ui-react/src/components/DList/DList.tsx
  libraries/dynamic-ui-react/src/components/DModal/DModal.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/DOffcanvas.tsx
  libraries/dynamic-ui-react/src/components/DPaginator/DPaginator.tsx
  libraries/dynamic-ui-react/src/components/DPopover/DPopover.tsx
  libraries/dynamic-ui-react/src/components/DProgress/DProgress.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionButton/DQuickActionButton.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionCheck/DQuickActionCheck.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionSelect/DQuickActionSelect.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionSwitch/DQuickActionSwitch.tsx
  libraries/dynamic-ui-react/src/components/DSelect/DSelect.tsx
  libraries/dynamic-ui-react/src/components/DStepper/DStepper.tsx
  libraries/dynamic-ui-react/src/components/DTabs/DTabs.tsx
  libraries/dynamic-ui-react/src/components/DToast/DToast.tsx
  libraries/dynamic-ui-react/src/components/interface.ts
Labels: fix

#714 fix(style): modal and offcanvas spacing and separator
  libraries/dynamic-ui-react/src/components/DModal/DModal.spec.tsx
  libraries/dynamic-ui-react/src/components/DModal/components/DModalHeader.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/DOffcanvas.spec.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasFooter.tsx
  libraries/dynamic-ui-react/src/components/DOffcanvas/components/DOffcanvasHeader.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_modals.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_offcanvas.scss
  libraries/dynamic-ui-react/src/style/components/_d-offcanvas.scss
  libraries/dynamic-ui-react/stories/components/DModal.stories.tsx
Labels: style

#715 fix(style): set font weight normal in DProgress and background primary
  libraries/dynamic-ui-react/src/style/abstracts/variables/_progress.scss
Labels: fix

#718 fix(style): set breadcrumb active color and separator
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_breadcrumb.scss
Labels: fix

#719 fix(DAvatar): export component
  libraries/dynamic-ui-react/src/components/index.ts
Labels: fix

#721 fix(DStepperDesktop): adjust icon container and line z-index
  libraries/dynamic-ui-react/src/style/components/_d-stepper-desktop.scss
Labels: fix
