Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-04, with the labels that each got.

#619 feat: re-enable rfs with fs in css variables and with support to direct values
  libraries/dynamic-ui-react/.storybook/preview.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_options.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
  libraries/dynamic-ui-react/stories/Colors.mdx
  libraries/dynamic-ui-react/stories/Spacing.mdx
  libraries/dynamic-ui-react/stories/Typography.mdx
Labels: feature

#623 feat: define reference variables for font-size and use rfs as a value
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
  libraries/dynamic-ui-react/stories/Typography.mdx
Labels: feature

#622 feat: add support to visual stack modals and offcanvas
  libraries/dynamic-ui-react/src/contexts/DPortalContext.tsx
  libraries/dynamic-ui-react/src/style/base/_backdrop.scss
Labels: feature

#620 chore: match tooltip design with figma
  libraries/dynamic-ui-react/src/components/DCollapse/DCollapse.tsx
  libraries/dynamic-ui-react/src/components/DTooltip/DTooltip.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_+import.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_accordion.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_collapse-icon-text.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_quick-action-button.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_tooltip.scss
  libraries/dynamic-ui-react/src/style/base/_+import.scss
  libraries/dynamic-ui-react/src/style/base/_tooltip.scss
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-datepicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-monthpicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-stepper-mobile.scss
  libraries/dynamic-ui-react/src/style/components/_d-tooltip.scss
  libraries/dynamic-ui-react/stories/components/DTooltip.stories.tsx
Labels: chore

#621 chore: match quick actions with new guidelines
  libraries/dynamic-ui-react/src/components/DQuickActionSwitch/DQuickActionSwitch.spec.tsx
  libraries/dynamic-ui-react/src/components/DQuickActionSwitch/DQuickActionSwitch.tsx
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/components/_d-quick-action-button.scss
  libraries/dynamic-ui-react/src/style/components/_d-quick-action-select.scss
  libraries/dynamic-ui-react/src/style/components/_d-quick-action-switch.scss
Labels: chore

#625 fix: pagination padding and tooltip default color
  libraries/dynamic-ui-react/src/style/abstracts/variables/_pagination.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_tooltip.scss
Labels: fix

#626 feat: change tooltip default color to bootstrap colors
  libraries/dynamic-ui-react/src/style/abstracts/variables/_tooltip.scss
Labels: fix

#627 enhancement: add media query to height utility and modify input
  libraries/dynamic-ui-react/src/style/abstracts/_utilities.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_forms.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
Labels: chore

#634 style: overwrite padding and remove background color
  libraries/dynamic-ui-react/src/style/components/_d-input-pin.scss
Labels: fix

#633 fix: adjust link hover color
  libraries/dynamic-ui-react/src/style/components/_d-icon.scss
  libraries/dynamic-ui-react/src/style/helpers/_+import.scss
  libraries/dynamic-ui-react/src/style/helpers/_colored-links.scss
Labels: fix

#632 fix: remove DPortalContextProvider export
  libraries/dynamic-ui-react/src/contexts/DPortalContext.tsx
  libraries/dynamic-ui-react/src/contexts/index.ts
  libraries/dynamic-ui-react/src/hooks/useStackState.ts
Labels: fix

#630 refactor: datepicker header
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerHeader/DDatePickerHeader.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerInput/DDatePickerInput.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerTime/DDatePickerTime.tsx
  libraries/dynamic-ui-react/src/components/DMonthPicker/DMonthPicker.tsx
  libraries/dynamic-ui-react/src/components/DMonthPicker/index.ts
  libraries/dynamic-ui-react/src/style/components/_+import.scss
  libraries/dynamic-ui-react/src/style/components/_d-datepicker.scss
  libraries/dynamic-ui-react/src/style/components/_d-monthpicker.scss
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
Labels: refactor
