Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-05, with the labels that each got.

#631 feat: add support paste option and change bg color on valid state on DInputPin
  libraries/dynamic-ui-react/src/components/DInputPin/DInputPin.spec.tsx
  libraries/dynamic-ui-react/src/components/DInputPin/DInputPin.tsx
  libraries/dynamic-ui-react/src/style/components/_d-input-pin.scss
Labels: refactor

#635 feat: add valid and invalid state to DDatePicker
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.tsx
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
Labels: chore

#636 fix: set negative margin to balance DSelect menu list
  libraries/dynamic-ui-react/src/style/components/_d-select.scss
Labels: style

#637 fix: ignore sent readOnly prop from DatePicker
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.spec.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerInput/DDatePickerInput.tsx
Labels: fix

#641 docs(stories): add some links to quick start page
  libraries/dynamic-ui-react/stories/QuickStart.mdx
Labels: chore

#642 docs(DTabs): set default variant as underline
  libraries/dynamic-ui-react/stories/components/DTabs.stories.tsx
  libraries/dynamic-ui-react/stories/config/constants.ts
Labels: documentation, fix

#645 chore: setup commit conventions and rename .rc.json to .rc
  .commitlintrc
  .github/workflows/checks.yml
  .husky/commit-msg
  lerna.json
  libraries/dynamic-ui-react/.babelrc
  libraries/dynamic-ui-react/.lintstagedrc
  libraries/dynamic-ui-react/.stylelintrc
  package.json
  pnpm-lock.yaml
Labels: chore

#644 docs: set direct link to CSS variables over each bootstrap component
  libraries/dynamic-ui-react/stories/components/DAlert.stories.tsx
  libraries/dynamic-ui-react/stories/components/DBadge.stories.tsx
  libraries/dynamic-ui-react/stories/components/DButton.stories.tsx
  libraries/dynamic-ui-react/stories/components/DCard.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInput.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCheck.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputRadio.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSelect.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSwitch.stories.tsx
  libraries/dynamic-ui-react/stories/components/DList.stories.tsx
  libraries/dynamic-ui-react/stories/components/DPaginator.stories.tsx
  libraries/dynamic-ui-react/stories/components/DProgress.stories.tsx
  libraries/dynamic-ui-react/stories/components/DTabs.stories.tsx
Labels: chore

#638 chore: adjust heading and display font sizes
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/stories/Typography.mdx
Labels: chore

#639 chore: add font sizes body utility
  libraries/dynamic-ui-react/src/style/abstracts/_utilities.scss
  libraries/dynamic-ui-react/src/style/abstracts/variables/_typography.scss
  libraries/dynamic-ui-react/src/style/base/_type.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
  libraries/dynamic-ui-react/stories/Typography.mdx
Labels: chore

#650 docs(DInputMask): add react-input/mask usage through useState
  libraries/dynamic-ui-react/stories/components/DInputMask.mdx
  libraries/dynamic-ui-react/stories/components/DInputMask.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputMaskExamples.tsx
Labels: chore

#651 fix(DTabs): set variables as bootstrap and set available to all classes
  libraries/dynamic-ui-react/src/style/components/_d-tabs.scss
Labels: chore

#652 docs: add variable class owner on each component
  libraries/dynamic-ui-react/stories/components/DAlert.stories.tsx
  libraries/dynamic-ui-react/stories/components/DAvatar.stories.tsx
  libraries/dynamic-ui-react/stories/components/DBoxFile.stories.tsx
  libraries/dynamic-ui-react/stories/components/DButton.stories.tsx
  libraries/dynamic-ui-react/stories/components/DCarousel.stories.tsx
  libraries/dynamic-ui-react/stories/components/DChip.stories.tsx
  libraries/dynamic-ui-react/stories/components/DCollapse.stories.tsx
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
  libraries/dynamic-ui-react/stories/components/DIcon.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInput.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCounter.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrency.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputCurrencyBase.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputMask.mdx
  libraries/dynamic-ui-react/stories/components/DInputPassword.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputPin.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSearch.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSelect.stories.tsx
  libraries/dynamic-ui-react/stories/components/DInputSwitch.stories.tsx
  libraries/dynamic-ui-react/stories/components/DModal.mdx
  libraries/dynamic-ui-react/stories/components/DOffcanvas.mdx
  libraries/dynamic-ui-react/stories/components/DPaginator.stories.tsx
  libraries/dynamic-ui-react/stories/components/DProgress.stories.tsx
  libraries/dynamic-ui-react/stories/components/DQuickActionButton.stories.tsx
  libraries/dynamic-ui-react/stories/components/DQuickActionCheck.stories.tsx
  libraries/dynamic-ui-react/stories/components/DQuickActionSelect.stories.tsx
  libraries/dynamic-ui-react/stories/components/DQuickActionSwitch.stories.tsx
  libraries/dynamic-ui-react/stories/components/DSelect.stories.tsx
  libraries/dynamic-ui-react/stories/components/DStepperDesktop.stories.tsx
  libraries/dynamic-ui-react/stories/components/DStepperMobile.stories.tsx
  libraries/dynamic-ui-react/stories/components/DTabs.stories.tsx
  libraries/dynamic-ui-react/stories/components/DTooltip.stories.tsx
Labels: chore

#649 chore: add contributing file to clear commit rules
  libraries/dynamic-ui-react/CONTRIBUTING.md
Labels: chore

#660 feat(style): change button disabled opacity from 0.5 to 0.65
  libraries/dynamic-ui-react/src/style/abstracts/_mixins.scss
  libraries/dynamic-ui-react/src/style/root/_root.scss
Labels: feature, refactor

#657 feat(DPortalContext): set support to close backdrop on modals
  libraries/dynamic-ui-react/src/contexts/DPortalContext.tsx
Labels: feature, fix
