Repository dynamic-framework/dynamic-ui, pull requests merged in 2024-07, with the labels that each got.

#686 feat(DStepper): set completed steps flag
  libraries/dynamic-ui-react/src/components/DStepper/DStepper.tsx
  libraries/dynamic-ui-react/src/components/DStepperDesktop/DStepperDesktop.tsx
  libraries/dynamic-ui-react/stories/components/DStepper.stories.tsx
  libraries/dynamic-ui-react/stories/components/DStepperDesktop.stories.tsx
Labels: fix

#690 fix: set badge on toast pattern and add toast as peer deps
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/stories/hooks/useToast.mdx
  pnpm-lock.yaml
Labels: fix

#698 feat(docs): add dynamic framework ui logo
  libraries/dynamic-ui-react/.storybook/theme.ts
Labels: chore

#692 fix(DInput): adjust label icon size value
  libraries/dynamic-ui-react/src/components/DInput/DInput.tsx
  libraries/dynamic-ui-react/stories/components/DInput.stories.tsx
Labels: fix

#695 feat(DDatePicker): add render custom header prop
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.tsx
Labels: feature

#699 feat(style): enable bootstrap css grid
  libraries/dynamic-ui-react/src/style/abstracts/variables/_options.scss
Labels: feature

#700 feat: add external setupJest.js
  libraries/dynamic-ui-react/.eslintrc
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/setupJest.js
Labels: feature

#696 feat(DDatePicker): add icon state support
  libraries/dynamic-ui-react/src/components/DDatePicker/DDatePicker.tsx
  libraries/dynamic-ui-react/src/components/DDatePickerInput/DDatePickerInput.tsx
  libraries/dynamic-ui-react/stories/components/DDatePicker.stories.tsx
Labels: feature

#702 fix: external jest setup and internal preset
  libraries/dynamic-ui-react/.eslintrc
  libraries/dynamic-ui-react/jest.config.js
  libraries/dynamic-ui-react/jest/__mocks__/fileMock.js
  libraries/dynamic-ui-react/jest/__mocks__/styleMock.js
  libraries/dynamic-ui-react/jest/setup.js
  libraries/dynamic-ui-react/package.json
  libraries/dynamic-ui-react/tests/setup.ts
  pnpm-lock.yaml
Labels: fix
