Repository dynamic-framework/dynamic-ui, pull requests merged in 2025-06, with the labels that each got.

#854 test: DToast tests
  src/components/DToast/DToast.spec.tsx
  src/components/DToast/components/DToastBody.spec.tsx
  src/components/DToast/components/DToastHeader.spec.tsx
Labels: test

#857 fix(style): extend z-index levels
  src/style/abstracts/variables/_z-index.scss
Labels: feature

#861 chore(master): release 1.36.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending
