Repository dynamic-framework/dynamic-ui, pull requests merged in 2025-05, with the labels that each got.

#814 style: set base sizing on select icons
  src/components/DSelect/components/DSelectClearIndicator.tsx
  src/style/abstracts/variables/_forms.scss
  src/style/components/_d-select.scss
Labels: fix

#817 fix: update README.md
  README.md
Labels: documentation

#813 feat(DBoxFile): set custom behavior and new examples
  package-lock.json
  package.json
  src/components/DBoxFile/DBoxFile.spec.tsx
  src/components/DBoxFile/DBoxFile.tsx
  src/components/DBoxFile/useDBoxFile.ts
  src/components/DBoxFile/utils.ts
  src/style/abstracts/variables/_box-file.scss
  src/style/components/_d-box-file.scss
  src/utils/attr-accept.ts
  stories/components/DBoxFile.mdx
  stories/components/DBoxFile.stories.tsx
  stories/components/DBoxFileExamples.tsx
Labels: feature

#818 feat(DDatepicker): all API support on react-datepicker v8
  package-lock.json
  package.json
  src/components/DDatePicker/DDatePicker.tsx
  src/components/DDatePicker/components/DDatePickerHeaderSelector.tsx
  src/components/DDatePicker/components/DDatePickerInput.tsx
  src/components/DDatePicker/components/DDatePickerTime.tsx
  src/components/DDatePickerHeader/DDatePickerHeader.tsx
  src/components/DDatePickerHeader/index.ts
  src/components/DDatePickerInput/index.ts
  src/components/DDatePickerTime/index.ts
  src/style/abstracts/variables/_+import.scss
  src/style/abstracts/variables/_datepicker.scss
  src/style/components/_d-datepicker.scss
  stories/components/DDatePicker.mdx
  stories/components/DDatePicker.stories.tsx
  tsconfig.build.json
Labels: feature

#827 chore(master): release 1.35.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#829 chore(master): release 1.35.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#833 style: add line heights in root variables
  src/style/abstracts/_utilities.scss
  src/style/abstracts/variables/_typography.scss
  src/style/root/_root.scss
Labels: style

#831 chore: remove datepicker portal props and styles
  src/components/DDatePicker/DDatePicker.tsx
  src/style/abstracts/variables/_datepicker.scss
  src/style/components/_d-datepicker.scss
  stories/components/DDatePicker.stories.tsx
Labels: chore

#830 feat(DInputPhone): add new input component using react-international-phone
  package-lock.json
  package.json
  src/components/DInputPhone/DInputPhone.spec.tsx
  src/components/DInputPhone/DInputPhone.tsx
  src/components/DInputPhone/index.ts
  src/components/index.ts
  src/style/abstracts/variables/_+import.scss
  src/style/abstracts/variables/_input-phone.scss
  src/style/components/_+import.scss
  src/style/components/_d-input-phone.scss
  src/utils/index.ts
  src/utils/validatePhoneNumber.ts
  stories/components/DInputPhone.stories.tsx
Labels: feature

#835 fix(style): change base color on DDatepicker
  src/style/abstracts/variables/_datepicker.scss
  src/style/components/_d-datepicker.scss
Labels: style

#834 fix(style): clean hover color on DSelect
  src/style/components/_d-select.scss
Labels: fix

#832 fix(style): hover in nav variants and underline border width
  src/style/abstracts/variables/_navs.scss
  src/style/base/_nav.scss
Labels: chore

#836 chore: adjust docs and selected item styles
  src/style/abstracts/variables/_input-phone.scss
  src/style/components/_d-input-phone.scss
  stories/components/DInputPhone.stories.tsx
Labels: chore

#837 fix: locale prop as Locale type of date-fns
  src/components/DDatePicker/DDatePicker.tsx
  src/components/DDatePicker/components/DDatePickerHeaderSelector.tsx
  stories/components/DDatePicker.stories.tsx
Labels: fix

#840 fix(DBoxFile): set onLoad method and docs to preview images
  src/components/DBoxFile/DBoxFile.tsx
  src/components/DBoxFile/useDBoxFile.ts
  stories/components/DBoxFile.mdx
  stories/components/DBoxFileExamples.tsx
Labels: fix

#842 fix(style): set calc on switch variable
  src/style/base/_form-switch.scss
Labels: fix

#847 fix: restore mock for react-responsive-pagination
  jest/setup.js
Labels: fix

#849 chore(master): release 1.36.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending
